# Python
__pycache__/
*.pyc
*.pyo

# Streamlit secrets
.streamlit/secrets.toml

# Virtual env
venv/
.env/

# Data files (optional if private)
*.xlsx
*.csv

# OS / Editor junk
.DS_Store
*.log
